# Web Scraping Assignment - 4

In [22]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
#Importing requests
import requests

# importing regex
import re

# 1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
# Connecting to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
# Getting the webpage of mentioned url 
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [4]:
#creating empty list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

 Scrapping the data

In [5]:
#Scraping data of rank details
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
        

#Scraping data of video names
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

#Scraping data of artist name
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:        
    Artist.append('-')
    
#Scraping data of upload dates
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_date.append(i.text)
except NoSuchElementException:        
    Upload_date.append('-')
    
    
#Scraping data of views
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [6]:
#DATA FRAMEING
Youtube=pd.DataFrame({})
Youtube['Rank'] = Rank
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Uploaded Date'] = Upload_date
Youtube['Views'] = Views

In [7]:
#Printing data frame
Youtube

,Rank,Name,Artist,Uploaded Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

In [8]:
driver.close

# 2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1 st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [23]:
# connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

# Connecting the website
url = " https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

In [24]:
#going to international fixtures page
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') 
International.click()

In [25]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

    
# Creating Dataframe

Int_Fixtures=pd.DataFrame({})

Int_Fixtures['Match Title']=Name
Int_Fixtures['Series']=Series
Int_Fixtures['Place']=Place
Int_Fixtures['Date']=Date
Int_Fixtures['Time']=Time
Int_Fixtures

,Match Title,Series,Place,Date,Time
0,1st T20I,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"Riverside Ground,",10 SEP 2022,11:30 PM
1,2nd T20I,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"County Ground,",13 SEP 2022,10:30 PM
2,3rd T20I,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"County Ground,",15 SEP 2022,11:00 PM
3,1st ODI,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"County Ground,",18 SEP 2022,3:30 PM
4,1st T20I,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
5,2nd ODI,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"St Lawrence Ground,",21 SEP 2022,5:30 PM
6,2nd T20I,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
7,3rd ODI,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM

In [26]:
driver.close

# 3.Scrape the details of selenium exception from guru99.com.\
Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [34]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the selenium exception handling page chrome
driver.get("https://www.guru99.com/")
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').click()

driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong').click()
time.sleep(5)


Name=[]
Description=[]

guru99=driver.find_elements(By.XPATH,'//p//strong')
for i in guru99:
    Name.append(i.text)


guru99=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]//p')
for i in guru99:
    Description.append(i.text)


Desc=[]
for i in range(2,43):
    Desc.append(Description[i].split(':')[1])


Data={'Name':Name[1:42],'Description':Desc}

df=pd.DataFrame(Data)

df

,Name,Description
0,1. ElementNotVisibleException:,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException:,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException:,This Exception occurs if an element could not...
3,4. NoSuchFrameException:,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException:,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException:,This Exception occurs if the window target to...
6,7. StaleElementReferenceException:,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException:,The WebDriver is acting after you quit the br...
8,9. TimeoutException:,Thrown when there is not enough time for a co...
9,10. WebDriverException:,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException:,This type of Exception takes place when there...
11,12. ElementClickInterceptedException:,The command may not be completed as the eleme...
12,13. ElementNotInteractableException:,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException:,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException:,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException:,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException:,It takes place when IME support is unavailable.
17,18. InsecureCertificateException:,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException:,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException:,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException:,This type of Exception matches an interacting...
21,22. InvalidElementStateException:,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException:,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException:,This occurs when the frame or window target t...
24,25. JavascriptException:,This issue occurs while executing JavaScript ...
25,26. JsonException:,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException:,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException:,It takes place if the target provided to the ...
28,29. NoSuchContextException:,ContextAware does mobile device testing.
29,30. NoSuchCookieException:,This Exception occurs when no cookie matching...
30,31. NotFoundException:,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException:,This Selenium exception is thrown when the se...
32,33. ScreenshotException:,It is not possible to capture a screen.
33,34. SessionNotCreatedException:,It happens when a new session could not be su...
34,35. UnableToSetCookieException:,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException:,Happens if a support class did not get a web ...
36,37. UnhandledAlertException:,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException:,It occurs when there is the appearance of an ...
38,39. UnknownMethodException:,This Exception happens when the requested com...
39,40. UnreachableBrowserException:,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException:,This occurs when remote WebDriver doesn’t sen...

In [35]:
driver.close

# 4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [38]:
# Connecting to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [39]:
# Getting the webpage of mentioned url 
url = "http://statisticstimes.com/"
driver.get(url)

In [40]:
#Clicking on economy section
economy = driver.find_element(By.XPATH,'//div[@class="navbar"]//div[2]//button').click()

urls = driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]')
ineco_page = urls.get_attribute("href")
#Going to indian economy page
driver.get(ineco_page)  
time.sleep(5)

In [41]:
#Creating empty list
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [42]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)


#Scraping data of rank
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
    Rank.append(i.text)

    
#Scraping data of state name
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
    State.append(i.text)

    
# Scraping data of GSDP at current price (18-19)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
    GSDP_1.append(i.text)

    
#Scraping data of GSDP at current price (17-18)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[4]'):
    GSDP_2.append(i.text)

    
#Scraping data of Share(2017)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
    Share.append(i.text)

    
#Scraping data of GDP($ billion)
for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
    GDP.append(i.text)

In [43]:
#DataFraming
data=list(zip(Rank,State,GSDP_1,GSDP_2,Share,GDP))

In [44]:
df=pd.DataFrame(data,columns=['Rank','Indian_State','GSDP(19-20)','GSDP(18-19)','Share','GDP'])

In [45]:
df

   Rank               Indian_State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

ASSIGNMENT

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [66]:
# Connecting to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [67]:
#getting the desired webpage.
url='https://github.com/'
driver.get(url)
time.sleep(2)

In [69]:
#Getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details")

#Selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

# making empty lists    
repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

#scraping repositories urls
repos=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2)    
    
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
time.sleep(3)
    
    
for i in repo_urls:
    driver.get(i)
    l=[]
    time.sleep(3)
     #scraping repositories discription
    try:          
        repo_desc.append(driver.find_element(By.XPATH,"/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p").text)
    except:
        repo_desc.append('-')
    
    #scraping contributors count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
    time.sleep(2)
    
     #scraping languages used   
    languages=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)   
    
time.sleep(2)   
#creating dataframe
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df

,Title,Description,Contributors_count,Language_used
0,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,13,"[Python, JavaScript, Batchfile, CSS]"
1,MaikKlein / unreal-rust,Rust integration for Unreal Engine 5,No details available,"[Rust, C++]"
2,lapce / lapce,Lightning-fast and Powerful Code Editor writte...,62,[Rust]
3,Sanakan8472 / copy-dialog-lunar-lander,Play lunar lander in you windows file copy dialog,3,[C#]
4,DroidKaigi / conference-app-2022,The Official Conference App for DroidKaigi 2022,43,"[Kotlin, Swift]"
5,total-typescript / beginners-typescript-tutorial,An interactive TypeScript tutorial for beginners,10,"[TypeScript, JavaScript]"
6,apache / airflow,Apache Airflow - A platform to programmaticall...,"2,182","[Python, TypeScript, Shell, HTML, JavaScript, ..."
7,alexeygrigorev / mlbookcamp-code,The code from the Machine Learning Bookcamp bo...,35,[Jupyter Notebook]
8,vmware-tanzu / kubeapps,A web-based UI for deploying and managing appl...,85,"[Go, TypeScript, JavaScript, Shell, SCSS, Rust]"
9,JoelGMSec / EvilnoVNC,Ready to go Phishing Platform,No details available,"[JavaScript, HTML, Dockerfile, Python, Shell]"
10,devsuperior / sds-dsmeta,-,No details available,[No languages used]
11,girliemac / a-picture-is-worth-a-1000-words,I am trying to describe complex matters in sim...,4,[No languages used]
12,CompVis / stable-diffusion,-,7,"[Jupyter Notebook, Python, Shell]"
13,valence-rs / valence,A Rust framework for building Minecraft servers.,6,"[Rust, Java]"
14,ruanyf / weekly,科技爱好者周刊，每周五发布,31,[No languages used]
15,opa334 / TrollStore,Jailed iOS app that can install IPAs permanent...,8,"[C, Objective-C]"
16,rolling-scopes-school / tasks,-,184,[JavaScript]
17,gndx / javascript-challenges,-,No details available,[JavaScript]
18,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,115,"[Python, Shell]"
19,jackfrued / Python-100-Days,Python - 100天从新手到大师,12,"[Python, HTML, Jupyter Notebook]"
20,Nickyie / Cybersecurity-Resources,A Library of various cybersecurity resources,2,[No languages used]
21,BehaviorTree / BehaviorTree.CPP,Behavior Trees Library in C++. Batteries inclu...,78,"[C++, CMake]"
22,dbt-labs / dbt-core,dbt enables data analysts and engineers to tra...,220,"[Python, HTML]"
23,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,88,"[Python, Jupyter Notebook, HTML, Shell, Makefi..."
24,umami-software / umami,"Umami is a simple, fast, privacy-focused alter...",164,"[JavaScript, CSS]"

In [70]:
driver.close

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [34]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")  
time.sleep(2)

# Opening the billboard
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

In [35]:
#Clicking on charts
driver.find_element(By.XPATH,"/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]").click()

In [37]:
# clicking view chart
driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[2]/div/div[2]/div[3]/a").click()

In [38]:
#Creating empty list
Name = []
Artist = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [47]:
#scraping song names
try:
    names=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//h3')
    for i in names:
        Name.append(i.text)
except NoSuchElementException:       
    Name.append('No details available')
time.sleep(2)    
Name[::4][:100]

['Pink Venom',
 'Titi Me Pregunto',
 'Super Freaky Girl',
 'Bad Habit',
 'Moscow Mule',
 'Provenza',
 'Calm Down',
 'Save Your Tears',
 'Left And Right',
 'I Like You (A Happier Song)',
 'Blinding Lights',
 'Doja',
 'Party',
 'Beautiful',
 'Enemy',
 'Last Last',
 'Pepas',
 'Until I Found You',
 'Perfect',
 'Use This Gospel (Remix)',
 'Starboy',
 'Golden Hour',
 'Lokera',
 'Where Are You Now',
 "I'm Invincible",
 'Unstoppable',
 'Summertime Sadness',
 '505',
 'Keep Going',
 'Un Coco',
 'Woman',
 'Without Me',
 'Good 4 U',
 'Murder In My Mind',
 'Victoria’s Secret',
 "Don't You Worry",
 'Bohemian Rhapsody',
 'I Was Never There',
 'For My Hand',
 'Wasted On You',
 'Every Breath You Take',
 "Don't Stop Believin'",
 "Don't Start Now",
 "Let's Pray",
 'Dreams',
 'Normal',
 "It Ain't Safe",
 'Thunderstruck',
 '5 Foot 9',
 'Blank Space',
 'Pink Venom',
 'Titi Me Pregunto',
 'Super Freaky Girl',
 'Bad Habit',
 'Moscow Mule',
 'Provenza',
 'Calm Down',
 'Save Your Tears',
 'Left And Right',
 'I Like You (A Happier Song)',
 'Blinding Lights',
 'Doja',
 'Party',
 'Beautiful',
 'Enemy',
 'Last Last',
 'Pepas',
 'Until I Found You',
 'Perfect',
 'Use This Gospel (Remix)',
 'Starboy',
 'Golden Hour',
 'Lokera',
 'Where Are You Now',
 "I'm Invincible",
 'Unstoppable',
 'Summertime Sadness',
 '505',
 'Keep Going',
 'Un Coco',
 'Woman',
 'Without Me',
 'Good 4 U',
 'Murder In My Mind',
 'Victoria’s Secret',
 "Don't You Worry",
 'Bohemian Rhapsody',
 'I Was Never There',
 'For My Hand',
 'Wasted On You',
 'Every Breath You Take',
 "Don't Stop Believin'",
 "Don't Start Now",
 "Let's Pray",
 'Dreams',
 'Normal',
 "It Ain't Safe",
 'Thunderstruck',
 '5 Foot 9',
 'Blank Space']

In [48]:
#scraping artist names
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//span')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:     
    Artist.append('-')
time.sleep(2)    
Artist[::7][:100]

['BLACKPINK',
 'Harry Styles',
 'Bad Bunny & Chencho Corleone',
 'Bizarrap & Quevedo',
 'Bad Bunny',
 'Elton John & Britney Spears',
 'Rosalia',
 'OneRepublic',
 'Nicki Minaj',
 'Bad Bunny',
 'Manuel Turizo',
 'Kate Bush',
 'Steve Lacy',
 'Chris Brown',
 'Bad Bunny & Bomba Estereo',
 'Glass Animals',
 'Bad Bunny',
 'TWICE',
 'David Guetta & Bebe Rexha',
 'IVE',
 'Karol G',
 'Joji',
 'Karol G x Maldy',
 'DJ Khaled Featuring Rick Ross, Lil Wayne, JAY-Z, John Legend & Fridayy',
 'Rema',
 'Rosa Linn',
 'Elton John & Dua Lipa',
 'Lizzo',
 'The Weeknd & Ariana Grande',
 'Beyonce',
 'Nicky Youre & dazy',
 'Tom Odell',
 'Charlie Puth Featuring Jung Kook',
 'DJ Khaled Featuring Drake & Lil Baby',
 'The Kid LAROI & Justin Bieber',
 'Bad Bunny',
 'Post Malone Featuring Doja Cat',
 'Ado',
 'Drake Featuring 21 Savage',
 'Harry Styles',
 'The Weeknd',
 'Ed Sheeran',
 'Dua Lipa',
 'Bad Bunny & Jhay Cortez',
 'Central Cee',
 'Future Featuring Drake & Tems',
 'James Hype & Miggy Dela Rosa',
 'Ed Sheeran',
 'Bad Bunny & Rauw Alejandro',
 'Imagine Dragons',
 'Shakira & Rauw Alejandro',
 'Doja Cat',
 'DJ Khaled Featuring Future & SZA',
 'The Weeknd',
 'NewJeans',
 'Camila Cabello Featuring Ed Sheeran',
 'Imagine Dragons X JID',
 'NewJeans',
 'Morgan Wallen',
 'Jack Harlow',
 'Burna Boy',
 'DJ Khaled Featuring Future & Lil Baby',
 'Ghost',
 'Lil Tjay',
 'Farruko',
 'The Neighbourhood',
 'Bad Bunny & Tony Dize',
 'benny blanco, BTS & Snoop Dogg',
 'Stephen Sanchez',
 'Luke Combs',
 'Polima WestCoast Featuring Pailita',
 'Marshmello & Khalid',
 'Ed Sheeran',
 'Luar La L',
 'Lasso',
 'Bad Bunny',
 'DJ Khaled Featuring Kanye West & Eminem',
 'Coldplay',
 'Billie Eilish',
 'Justin Bieber',
 'The Weeknd Featuring Daft Punk',
 'Lil Nas X & Jack Harlow',
 'Harry Styles',
 'Calvin Harris & Dua Lipa',
 'JVKE',
 'Imagine Dragons',
 'Yung Gravy',
 'Becky G X Karol G',
 'Rauw Alejandro, Lyanno & Brray',
 'Paloma Faith',
 'Rels B',
 'Pinkfong',
 'Lost Frequencies & Calum Scott',
 'Adele',
 'GAYLE',
 'Ruth B.',
 'Ado',
 'Bad Bunny',
 'DJ Khaled Featuring Juice WRLD',
 'Beyonce']

In [49]:
#scraping last week rank of the song
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in last_rank:
        Last_week_rank.append(i.text)
except NoSuchElementException:      
    Last_week_rank.append('-')
    time.sleep(2)    
Last_week_rank[::2][:100]

['1',
 '3',
 '4',
 '2',
 '5',
 '-',
 '6',
 '8',
 '7',
 '10',
 '12',
 '9',
 '11',
 '19',
 '14',
 '13',
 '15',
 '-',
 '-',
 '48',
 '16',
 '17',
 '-',
 '-',
 '89',
 '20',
 '22',
 '21',
 '24',
 '18',
 '26',
 '36',
 '25',
 '47',
 '27',
 '44',
 '29',
 '23',
 '28',
 '30',
 '32',
 '33',
 '38',
 '35',
 '31',
 '34',
 '43',
 '40',
 '42',
 '50',
 '41',
 '45',
 '-',
 '57',
 '52',
 '46',
 '49',
 '54',
 '61',
 '51',
 '53',
 '-',
 '102',
 '-',
 '55',
 '58',
 '59',
 '37',
 '56',
 '62',
 '60',
 '77',
 '73',
 '71',
 '93',
 '63',
 '-',
 '79',
 '64',
 '69',
 '85',
 '72',
 '75',
 '67',
 '-',
 '81',
 '90',
 '66',
 '112',
 '82',
 '70',
 '88',
 '80',
 '87',
 '84',
 '86',
 '74',
 '83',
 '-',
 '65']

In [50]:
#scraping song's peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:       
    Peak_rank.append('-')
time.sleep(2)    
Peak_rank[1::2][:100]

['1',
 '',
 '',
 '1',
 '1',
 '2',
 '1',
 '4',
 '6',
 '6',
 '8',
 '5',
 '7',
 '11',
 '1',
 '10',
 '14',
 '4',
 '1',
 '2',
 '18',
 '19',
 '20',
 '6',
 '2',
 '23',
 '24',
 '25',
 '20',
 '3',
 '6',
 '1',
 '6',
 '26',
 '32',
 '5',
 '10',
 '1',
 '16',
 '7',
 '20',
 '3',
 '2',
 '2',
 '3',
 '2',
 '9',
 '19',
 '2',
 '43',
 '1',
 '8',
 '45',
 '11',
 '28',
 '53',
 '54',
 '52',
 '5',
 '3',
 '54',
 '22',
 '2',
 '39',
 '62',
 '63',
 '64',
 '7',
 '51',
 '17',
 '6',
 '44',
 '38',
 '24',
 '66',
 '30',
 '71',
 '75',
 '7',
 '77',
 '75',
 '6',
 '16',
 '52',
 '2',
 '9',
 '43',
 '85',
 '52',
 '82',
 '4',
 '89',
 '75',
 '51',
 '38',
 '22',
 '1',
 '1',
 '51',
 '74']

In [51]:
#scraping number of weeks on board
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in weeks:
        Weeks_on_board.append(i.text)
except NoSuchElementException:       #handling no such element exception
    Weeks_on_board.append('-')
time.sleep(2)    
Weeks_on_board[1::2][:100]

['2',
 '22',
 '17',
 '8',
 '17',
 '1',
 '5',
 '13',
 '3',
 '17',
 '8',
 '14',
 '8',
 '6',
 '17',
 '87',
 '17',
 '1',
 '1',
 '2',
 '19',
 '12',
 '1',
 '1',
 '9',
 '8',
 '55',
 '20',
 '87',
 '11',
 '15',
 '70',
 '10',
 '4',
 '60',
 '17',
 '13',
 '5',
 '11',
 '15',
 '104',
 '51',
 '100',
 '17',
 '6',
 '18',
 '11',
 '62',
 '17',
 '25',
 '19',
 '14',
 '1',
 '26',
 '4',
 '26',
 '44',
 '4',
 '16',
 '21',
 '13',
 '1',
 '2',
 '1',
 '59',
 '101',
 '17',
 '4',
 '16',
 '11',
 '18',
 '12',
 '104',
 '3',
 '9',
 '17',
 '1',
 '73',
 '57',
 '50',
 '61',
 '58',
 '104',
 '14',
 '1',
 '104',
 '8',
 '29',
 '3',
 '16',
 '4',
 '103',
 '51',
 '47',
 '42',
 '33',
 '3',
 '17',
 '1',
 '5']

In [52]:
df=pd.DataFrame({'Song_Name':Name[::4][:100],
                'Artist_Name':Artist[::7][:100],
                'Last_week_rank':Last_week_rank[::2][:100],
                'Peak':Peak_rank[1::2][:100],
                'Weeks_on_chart':Weeks_on_board[1::2][:100]})
df

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Pink Venom,BLACKPINK,1,1,2
1,Titi Me Pregunto,Harry Styles,3,,22
2,Super Freaky Girl,Bad Bunny & Chencho Corleone,4,,17
3,Bad Habit,Bizarrap & Quevedo,2,1,8
4,Moscow Mule,Bad Bunny,5,1,17
...,...,...,...,...,...
95,Normal,Ruth B.,86,22,33
96,It Ain't Safe,Ado,74,1,3
97,Thunderstruck,Bad Bunny,83,1,17
98,5 Foot 9,DJ Khaled Featuring Juice WRLD,-,51,1
99,Blank Space,Beyonce,65,74,5

In [53]:
driver.close

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [10]:
# connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(2)

# Connecting the website
url = " https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)
time.sleep(2)

In [11]:
#clicking on recruiters link
recruiters=driver.find_element(By.XPATH,"//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

In [12]:
#accesing search bar
search=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

In [13]:
#clicking on search button
button=driver.find_element(By.XPATH,"//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)

In [14]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [15]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)


#Scraping data of Designation

for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)
    

#Scraping data of company name

for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)

    
#Scraping data of locations

for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

In [16]:
print(len(Name),len(Designation),len(Company),len(Location))

50 50 50 148

In [17]:
# Creating dataframe 
Naukri=pd.DataFrame({})

Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Location'] = Location[:50]
Naukri

,Name,Designation,Company,Location
0,Aakash Harit,HR Manager,Data Science Network,Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Ahmedabad
12,Mubarak,Company HR,MoneyTap,subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Founder CEO
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,UK - (london)
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,Recruitment Lead Consultant
17,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Vadodara / Baroda
18,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Institute for Financial Management and Resear
19,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Programme Manager
20,Manisha Yadav,HR Executive,Easi Tax,Chennai
21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Balu Ramesh
22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Administrator
23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Trivandrum
24,Rithika dadwal,HR Recruiter,Affine Analytics,Asif Lucknowi
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Director
26,Shaun Rao,Manager Human Resources,Exela Technologies,Indore
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,InstaFinancials
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Human Resource
29,kumar,Proprietor,trainin,Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,Priyanka Akiri
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,HR Manager
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,Kalpana Dumpala
34,Daniel Vaz,Partner,Aquis Search,Executive Hiring
35,Priya Khare,Senior Manager,Independent Consultant,Hyderabad / Secunderabad
36,Amit Sharma,Consultant,ASCO consulting,Mubarak
37,Kanan,senior technology instructor,NY INST,Company HR
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Bengaluru / Bangalore
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,Kushal Rastogi
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,Company HR
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,Vaishnavi Kudalkar
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,HR Executive
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Mumbai
45,Ashwini,Director Global Delivery,MRP Advisers,Mahesh Babu Channa
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,HR Team Lead
47,Rajani Nagaraj,HR Manager,WildJasmine,Hyderabad / Secunderabad
48,ROHIT Kumar,Architect,LNT Private Limited,Kapil Devang
49,Amir Chowdhury,Managing Partner,Granular.ai,HR Manager

In [18]:
driver.close()

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [64]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

# Opening the theguardian.com
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

In [65]:
#Creating empty list
Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [66]:
#scraping data of book names
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping data of author names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [67]:
#DATA FRAMEING
Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [68]:
driver.close

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [69]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

# Opening the imdb.com
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)
time.sleep(2)

In [70]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [71]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [72]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,045,046"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,141,822"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"967,031"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,559"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,133"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,503"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,499"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,614"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,994"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"235,976"

In [73]:
driver.close

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [74]:
# to get web drivers
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

# Opening the uci.com
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

In [75]:
#Finding view all dataset button
view_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

#Getting page urls containing list of all datasets
all_lst = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

#fetching url for each dataset
data_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [76]:
#table view
table = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a')
table.click()

In [77]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [78]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    #Scraping data type
    try:
        dtype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
    #Scraping Attribute type
    try:
        atype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    
    #Scraping No of instances
    try:
        inst = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    #Scraping  No of attribute
    try:
        attr = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
    
    #scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [79]:
#DATA FRAMEING
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year
UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [80]:
driver.close